body {
    margin: 0%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-areas: 
    "nav nav nav nav"
    "header header header header"
    "content content content content"
    "footer footer footer footer";
    background-image: url(./media/alap2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

/* FEJLÉC */

header {
    grid-area: header;
    height: 100%;
    margin-top: 1.9%;
    background-image: linear-gradient(180deg,white 20%, rgba(255, 255, 255, 0));
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-areas: 
    " motto motto motto sup logo";}

    .supporters { 
        grid-area: sup;
        width: 55%;
        margin-right: -62%;
        justify-self: end;
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-areas: "supcont";}
         .circs1 {grid-area: supcont;}
            .circs1 circle {transform-origin: 100px 100px;
                            fill: none;
                            stroke-width:2;
                            stroke-dasharray: 66;}
        .circs2 {grid-area: supcont;}
            .circs2 circle {transform-origin: 100px 100px;
                            fill: none;
                            stroke-width:1.7;
                            stroke-dasharray: 20;}
        .logo1_image { grid-area: supcont;
            background-size: contain;
            background-repeat: no-repeat;
            justify-self: center;
            margin-left: 19%;
            margin-top: 13%;
            width: 30%;
            height: 30%;
            background-image: url(./media/logo\ kör.png);}
        .logo2_image {grid-area: supcont;
                background-size: contain;
                background-repeat: no-repeat;
                justify-self: center;
                margin-top:13%;
                margin-left:-60.5%;
                width: 37%;
                background-image: url(./media/kvilogo.png);}
                .currentmenu {font: bold 16px "Montserrat Subrayada" ;fill: rgb(255, 217, 0);filter: drop-shadow(-2px -3px 1px rgba(66, 4, 4, 0.068))}
                .currentmenu1 {font: bold 12px "Montserrat Subrayada";fill: rgb(0, 0, 0);filter: drop-shadow(-2px -3px 1.6px rgba(255, 217, 0, 0.733))}
    .motto {grid-area: motto;}
        .heavy1 {font: bold 12px Montserrat Subrayada ;fill: rgb(252, 227, 0)}
        .heavy {font: bold 10px Montserrat Subrayada;fill: rgb(0, 0, 0);}
        .elegant {font: italic 2.2px serif;fill: black;}
    .logo { grid-area:logo;
        
          width: 50%;
            margin: 0% 0% 0% 40%; 
            display: grid;  grid-template-columns: repeat(1,100%);
            grid-template-areas: "logocont";}
            .circ1 {grid-area: logocont;}
                .circ1 circle {transform-origin: 50px 50px;
                                fill: none;
                                stroke-width:2;
                                stroke-dasharray: 40;
                                animation: animateCircle1 60s  linear infinite;}
            .circ2 {grid-area: logocont;}
                .circ2 circle {transform-origin: 50px 50px;
                                fill: none;
                                stroke-width:1;
                                stroke-dasharray: 50;           
                                animation: animateCircle2 35s  linear infinite;}
            .third_image { grid-area: logocont;
                        width: 40%;
                            margin: 30% 0% 0% 30%;
                            background-size: contain;
                            background-image: url(./media/Orange_lambda-001.jpg);
                            background-repeat: no-repeat;}
                                @keyframes animateCircle1 {
                                    0% {transform: rotate(0deg);}
                                    100% {transform: rotate(360deg);}}
                                @keyframes animateCircle2 {
                                    0% {transform: rotate(360deg);}
                                    100% {transform: rotate(0deg);}}

/* NACIGÁCIÓ ÉS MOBIL MENÜ */

nav {grid-area: nav;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow:rgba(255, 217, 0, 0.904) 0px 0px 6px 4px;
    overflow: hidden;
    color: black;
    background-color: white;
    margin-bottom: 0%;}

    .mobildropdown, .mobildropdown-content{width: 100%;display: flex;}
    .mobilmenu input, .hamburger{display: none;}

    #c1 {color: gold;}
    .current {
        color: rgba(0, 0, 0, 0);
        animation-name: currentnav;
        animation-duration: 3.8s;  
        text-shadow: rgb(255, 238, 0) 0px 0px 12px;
        animation-fill-mode: forwards;} 
      
            @keyframes currentnav {
                0%   {background-color: gold;color: rgba(0, 0, 0, 0); }
                100%   {background-color: white; color: black;}}
a{color: black;}
    nav a:visited ,a:link{color: black;}
    nav a:hover,.dropdown:hover{
        box-shadow: inset 700px 0 0 0 orange; 
        color: rgb(255, 255, 255);}

        .dropdown, nav a {
            padding: 0.8%;
            overflow: hidden;
            cursor: pointer;
            width: 200px;    
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0);
            font-family:Montserrat Subrayada;
            font-weight:800;
            text-align: center;
            justify-content: space-around;
            border-bottom-left-radius: 10px;        
            box-shadow: inset 0 0 0 0 rgb(255, 213, 74);
            transition: color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;}

                .dropdown-content  {
                    display: none;
                    position: fixed;
                    margin: 0.5% 0% 0% 0%;
                    width: 14%;
                    font-family:Arial;
                    font-size:smaller;
                    font-weight:100;
                    background-color:white;
                    border: 2px gold solid;}  
                .dropdown-content a { 
                    border-bottom-left-radius: 0px;   
                    background-color: rgba(255, 255, 255, 0);
                    width: 100%;
                    text-align: center;}
                    .dropdown:hover .dropdown-content {display: flex;flex-direction:column; }
/* TARTALOM */

section { display: flex;
        margin: -0% 1% 1% 1% ;
        border-left:solid 2px gold ;
        border-right:solid 2px gold ;
        border-bottom-left-radius:15px ;
        border-top-right-radius: 15px;
        grid-area: content;
        padding: 1%;}
.szakaszI { width: 49%; 
            padding: 0% 3%;
            margin:-1% 1% 0% 0%;
            text-align: left; 
            background-image: linear-gradient(360deg,white 85%, rgba(255, 255, 255, 0));}
.szakaszII {padding: 0% 3%; 
            width: 49%;
            margin:-4% 0% 0% 1%; 
            text-align: left;
            background-image: linear-gradient(360deg,rgba(255, 255, 255, 0) 15%, rgb(255, 255, 255));}

    section img {float: left;
                margin: 0% 4% 2% 0%;
                padding: 0.5%;
                width: 65%;
                border: gold 3px solid;
                border-radius: 15px;
                box-shadow: black 1px 1px 4px 1px;}
        .scshhot{transition: transform 0.5s ;}
        .scshhot:hover {transform: scale(1.05);}
        
    .cimke{ margin: 7% 0% 2% 0%;
            font-family:Montserrat Subrayada;
            width: fit-content;
            padding: 0.6%;
           /*  box-shadow: rgba(255, 217, 0, 0.849) -2px 2px 3px 1px ; */
            background-image: white;
            border-left: 3px solid;
            border-bottom: 4px solid black;
            border-bottom-right-radius:10px;
            border-top-left-radius:10px;}
            #c2 {color:gold}
    .cimke2 {background-image: white;
            font-family:Montserrat Subrayada;
            width:fit-content;
            padding: 1%;
            border-right: 3px solid gold;
            border-bottom: 4px solid gold;
            border-bottom-left-radius: 10px;
            border-top-right-radius:10px ;
            margin: 5% 0% 3% 35%;
            /* box-shadow: gold 2px 2px 3px 1px ; */}
            #c3 {color: orange;}

/* KAPCSOLAT */

.kapcsolat { 
    grid-area: content;
    width: 90%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;}
        
    .kapcsolat_forms{width: 100%;
                    display:flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: auto;
                    justify-content: space-around;
                    align-items: start;}

        .intro{ text-align: right;
                width: 100%;
                padding: 0.5%;
                background-image: linear-gradient(360deg,white 85%, rgba(255, 255, 255, 0));} 

        .kapcs1{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: start;
            justify-content: start;
                width: 100%;
                margin: 0% 0% 0% 0%;
                padding: 1%;
                background-image: linear-gradient(360deg,white 85%, rgba(255, 255, 255, 0));}
            #adatok, #adatok2 {display: grid; grid-template-columns:repeat(2,50%); margin-bottom: 0%;}
                .kapcs1 label {display:flex;
                    padding: 0.5%;
                               justify-content: right;
                                margin-left: -6%;
                                width: 200px;}
                .kapcs1 input { height:20px;
                                width: 200px;
                                flex-direction: row;
                                border:1px solid gold;
                                border-radius: 0px;
                                box-shadow: inset black 0px 0.5px 2px 1px;   }
               
                #adatok2 label{height: 25px;width: 200px;}
                #adatok2 {padding: 3% 0%;
                        border-top: gold 1px solid;
                        border-top-right-radius: 40px;
                        border-bottom: gold 1px solid;
                        border-bottom-left-radius: 40px;
                        font-style: italic;
                        font-size: small;}
                #adatok2 input {
                margin-top: -1%;
                height: 20px;
                width: 130px;
                accent-color: black;
                margin-left: 0%;
                box-shadow: none;}
                .gombok {display: flex;width: 50px;margin-top: 1%;}
                    .gombok input{font-family:Montserrat Subrayada; 
                        height: 30px;
                        border-radius: 1px;border: gold 2px solid;
                        background-color: white;
                        margin: 0% 60%;
                        box-shadow: none;}
        .kapcs2{display: flex;
                flex-direction: column;
                justify-content: right;
                justify-items: right;
                align-items: center;
                width: 100%;
                padding: 2%;
                margin: 1%;
                background-image: linear-gradient(360deg,rgba(255, 255, 255, 0) 15%, rgb(255, 255, 255));}
            textarea{margin: 2% 0%;
                    border: gold 2px solid;
                    box-shadow: inset -1px 1px 5px 0.1px;}
            .kapcs2 input {font-family:Montserrat Subrayada;
                    width: fit-content; 
                    height: 30px;
                    border-radius: 1px;border: gold 2px solid;
                    background-color: white;
                    margin: 1% 0%;}
                .kapcs2 #mail2 {width: 300px; height: 20px;}
                    
    #confirm {font-family:Montserrat Subrayada;
        font-size: smaller;
        text-align: right;
        margin: 5% 0% 10% 0%;
        display:flex;
        width: 80%;
        font-weight: 600;
        border-bottom: orangered 4px solid;
        border-bottom-left-radius: 10px;}  
        #confirm input{width: 19px;
            margin-top: 0.3%; 
                    margin-left:5%;
                    accent-color: red;}

/* RÓLUNK */
.rolunk{display:flex;
    flex-wrap: wrap;
    width:fit-content;}

.alcim{width: 100%; font-family:Montserrat Subrayada;text-align: right;}

.szemely_contentI{
    margin-top: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-areas:
    "rolunklogo cimke cimke cimke" 
    "rolunklogo bemutatkoz bemutatkoz bemutatkoz";}

            .szemely_contentI .cimke {width: 150px; height: fit-content;}

            .szemely_contentI .logo{ 
                background-image: url(./media/BM.png);
                background-size: 53%;
                background-position: center;
                background-repeat: no-repeat;
                display: grid;
                grid-area: rolunklogo;
                align-items: center;
                width: 100%;
                margin: 0%;}
                .circ2b {grid-area: logocont;}
                .circ2b circle {transform-origin: 50px 50px;
                                fill: none;
                                stroke-width:1;
                                stroke-dasharray: 50;           
                                animation: animateCircle2 35s  linear infinite;}
                .circ1b {grid-area: logocont;}
                .circ1b circle {transform-origin: 50px 50px;
                                fill: none;
                                stroke-width:2;
                                stroke-dasharray: 40;
                                animation: animateCircle1 60s  linear infinite;}          

            .szemelyI_szoveg{padding-right: 5%;
                margin:0% 0% 0% -3%;
                height: 100%;
                grid-area: bemutatkoz;
                width: fit-content;
                text-align: right;
                background-image: linear-gradient(360deg,white 85%, rgba(255, 255, 255, 0));}

    .szemely_contentII{margin-top: 1%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(4,25%);
                    grid-template-areas:
                    " cimke2 cimke2 cimke2 rolunklogo2" 
                    " bemutatkoz2 bemutatkoz2 bemutatkoz2 rolunklogo2";}
                    
        .szemely_contentII .cimke2 { width: 250px; margin-left: 200%;  height: fit-content;}
        
        .szemely_contentII .logo{ background-image: url(./media/SM.png);
                        background-size: 53%;
                        background-position: center;
                        background-repeat: no-repeat;
                        display: grid;
                        grid-area: rolunklogo2;
                        align-items: center;
                        width: 100%;
                        margin: 0%;}
        
        .szemelyII_szoveg{padding-left: 5%;
                        margin: 0% -3% 0% 0%;
                        height: 100%;
                        grid-area: bemutatkoz2;
                        width: fit-content;
                        text-align: left;
                        background-image: linear-gradient(360deg,white 85%, rgba(255, 255, 255, 0));}

    .szemely_contentIII{margin-top: 1%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(4,25%);
                    grid-template-areas:
                    "rolunklogo3 cimke cimke cimke " 
                    "rolunklogo3 bemutatkoz3 bemutatkoz3 bemutatkoz3 ";}
            .szemely_contentIII .cimke {width: 150px; height: fit-content; margin: auto;}

            .szemely_contentIII .logo{ 
                background-image: url(./media/SZP.jpg);
                background-size: 53%;
                background-position: center;
                background-repeat: no-repeat;
                display: grid;
                grid-area: rolunklogo3;
                align-items: center;
                width: 100%;
                margin: 0%;}
                .circ2c {grid-area: logocont;}
                .circ2c circle {transform-origin: 50px 50px;
                                fill: none;
                                stroke-width:1;
                                stroke-dasharray: 50;           
                                animation: animateCircle2 35s  linear infinite;}
                .circ1c {grid-area: logocont;}
                .circ1c circle {transform-origin: 50px 50px;
                                fill: none;
                                stroke-width:2;
                                stroke-dasharray: 40;
                                animation: animateCircle1 60s  linear infinite;}          

            .szemelyIII_szoveg{padding-right: 5%;
                margin:0% 0% 0% -3%;
                height: 100%;
                grid-area: bemutatkoz3;
                width: fit-content;
                text-align: right;
                background-image: linear-gradient(360deg,white 85%, rgba(255, 255, 255, 0));}

/* LÁBLÉC */
    
footer {grid-area: footer;
        display: flex;
        padding:0.5%;
        width: 99%;
        margin: auto;
        box-shadow: black 1px 1px 6px 1px;
        font-family:Arial; 
        font-size: small;
        font-weight: 600;
        color: rgb(0, 0, 0);  
        background-color:rgb(255, 217, 0);}
footer a:visited ,a:link{color:rgb(255, 255, 255);}
footer img {border: white 3px solid; grid-area: footer; border-radius: 100px; margin: auto;}
#face {width: 2%; height:2%; padding:0.4%;box-shadow:inset black -1px -1px 3px 1px; }
#tel {width: 2%; padding: 0.6%;box-shadow:inset black 1px 1px 3px 1px;}
#mail  {width: 2%; height:2%; padding:0.4%;box-shadow:inset black -1px -1px 3px 1px; display: none; }

/* TÖRÉSPONTOK */

@media screen and (min-width:900px) and (max-width:1350px){
nav {flex-direction: column;
    font-size:medium;
    font-weight:700; }

header {margin-top: 3%;}
        .supporters { width: 75%;}
            .heavy1 {font: bold 10px Montserrat Subrayada ;fill: rgb(252, 227, 0);}/* font-family: 'Montserrat Subrayada', sans-serif; */
            .heavy {font: bold 8px Montserrat Subrayada;fill: rgb(0, 0, 0);}
            .elegant {font: italic 2.95px serif;fill: black;}
        .logo {width: 60%;height: 60%;}
                .third_image { margin: 28% 0% 0% 28%; width:50%;height:50%;}

.szakaszI{margin-top: -4%;}                

footer {border-top: solid orange 2px; font-size: small; width: 99%;}
    /* kapcsolat */
    #confirm {margin-left: -70%;}     
}

@media screen and (min-width:685px) and (max-width:900px){
 
header {margin-top: 7%;}
    .motto{width: 140%;}
    .supporters { width: 95%; margin-right: -71%; }
        .heavy1 {font: bold 10px Montserrat Subrayada ;fill: rgb(252, 227, 0);}
        .heavy {font: bold 8px Montserrat Subrayada;fill: rgb(0, 0, 0);}
        .elegant {font: italic 2.95px serif;fill: black;}
    .logo {width: 60%; height: 60%;}
            .third_image { margin: 29% 0% 0% 29%; width:40%;height:40%;}
  
    .mobildropdown, .mobildropdown-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; }
        .dropdown, nav a {width: 210px; font-size: medium;}
        .dropdown-content a { 
                width: 100%;
                padding: 1%;
                background-color: rgb(255, 217, 0);
                margin: 0%;
                width: 100%;
                font-size: small;}
                .dropdown-content #c1 {color: white;}

footer {border-top: solid orange 2px; font-size: small; width: 99%;}
            footer img {display: none;}
}

/* kapcsolat */
#confirm {margin-left: 0%;}  
/* RÓLUNK */
.szemely_contentII .cimke2{margin: 0% 0% 0% 150%;}    

@media screen and (min-width:490px) and (max-width:685px){

header {grid-template-columns: repeat(2,50%);
        grid-template-areas: "motto sup"; margin-top: 7%;}
    .motto {width: 200%;}
    .supporters { width: 45%; margin-right: 0%; margin-top: 2%;}
    .logo {width: 60%; height: 60%;}
        .third_image { margin: 0% 0% 0% 0%; width:100%;height:100%;}

    .mobildropdown, .mobildropdown-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        background-color: white;}
        .dropdown, nav a { 
            background-color: white; 
                text-align: center;
                width: 150px;
                font-size: small;}
        .dropdown-content { width: 140px;}        
        .dropdown-content a { 
                padding: 1%;
                background-color: rgb(255, 217, 0);
                margin: 0%;
                width: 100%;
                font-size: small;}
                .dropdown-content #c1 {color: white;}

    footer {border-top: solid orange 2px; font-size: small; width: 99%; height: 100%;}
        footer p {display: none;}
        footer img {border: white 3px solid; grid-area: footer; border-radius: 100px; margin: auto;}
                #face {width: 7%; height:60%; padding:0.3%;box-shadow:inset black -1px -1px 3px 1px; }
                #tel {width: 7%; padding: 0.6%;box-shadow:inset black 1px 1px 3px 1px;}
                #mail {display: block; width:7.5%;height: 60%;}
}

@media screen and (min-width:300px) and (max-width:490px){
    
body {margin: 0%;
    grid-template-columns: repeat(4,25%);
    grid-template-areas: "nav header header header"
                        "content content content content"
                        "footer footer footer footer";}     

header {position: sticky;
        background-color: white;
        top: 0;
        grid-template-columns: repeat(1,100%);
        margin: 0% 0% 0% 0%;
        grid-template-areas: "motto";               
            -webkit-box-shadow:0px 1px 1px black;
            -moz-box-shadow:0px 1px 1px black;
            box-shadow:-10px 1px 9px black;    
        border-bottom: 3px gold solid;                    }
        .motto {margin: 3% 0% 0% 17%;}
        .heavy1 {font: bold 12px Montserrat Subrayada ;fill: rgb(252, 227, 0);}/* font-family: 'Montserrat Subrayada', sans-serif; */
        .heavy {font: bold 11.1px Montserrat Subrayada;fill: rgb(0, 0, 0);}
        .elegant {font: italic 0px serif;fill: black; }

nav {display: flex;
    height: 100%;
    position: sticky;
    border: none;
    background-color: white;
    -webkit-box-shadow:-9px 1px 9px black;
    -moz-box-shadow:-9px 1px 9px black;
    box-shadow: -9px 1px 9px black; 
    border-bottom: 3px gold solid;}
    .mobilmenu {width: 100%; margin: 0% auto 0% 50%; position:sticky;}
    .mobilmenu .checkbox {position: fixed;
                        display: inline;
                        opacity: 0;
                        cursor: pointer;
                        width: 10%;
                        height: 5%;
                        margin: 3% 0% 0% -13%;
                        background-color: white;}
    .hamburger{
        background-image: url(./media/Hamburger_icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 55%;
        display:flex;
        padding: 30%;
        width: 30%;
        margin: 20% 0% 0% -60%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;}
        .mobildropdown{margin-left: -100%;}
             .mobildropdown-content  {
                box-shadow:gold 1px 1px 5px 1px; 
                display:flex; flex-direction: column;
                position: fixed;
                width: 100%;
                margin-top:2.2%; 
                background-image: linear-gradient(120deg,white 60%, rgba(255, 255, 255, 0.548) 90%,white);     
                animation-name: start;
                animation-duration: 1s;  
                animation-fill-mode: forwards;
                } 
                    @keyframes start {
                        0%   {transform: translatex(-500px);}
                        100%   {transform:translatex(0px);}}       

            .dropdown, nav a{
                font-size: small;
                 padding: 4%;
                  width: 90%;
                   border-radius: 0px;
                    text-align: center;}
            .dropdown{transition: color 0.5s, box-shadow 2s;}
            .dropdown:hover  {color: rgba(165, 42, 42, 0); box-shadow: inset 700px 0 0 0 orange;}
            .dropdown-content {
                width: fit-content;
                height: fit-content;
                margin: none;
                padding: none;
                position:relative;
                flex-direction: row;
                margin-top: -8%;
                margin-left: -50%;
                margin-bottom: -4%;
                border-color: none;
                background-color:rgba(240, 248, 255, 0);
                border: none;
                align-items: center;
                width: 200%;}  
                .dropdown-content a {
                    text-align:center;
                    background-image: linear-gradient(45deg,rgba(255, 255, 255, 0),gold, rgba(255, 255, 255, 0));
                    width: 40%; padding: 0%;
                    font-size: small;}
                    .dropdown-content #c1 {color: white;} 

    .mobilmenu input[type="checkbox"]:not(:checked) ~ .mobildropdown  {display: none;}       
    .mobilmenu input[type="checkbox"]:checked ~ .mobildropdown  {height: 50%;}

section {margin: 5% 0.5% 3% 0.5%; display: flex; flex-direction: column;border: none;}
    section p{ margin: 1%;}
    .szakaszI, .szakaszII {width: 90%;}
    .cimke, .cimke2{font-size: medium;width: 68%;background-color: gold; border-color: black;}
    #c2, #c3 { color: white;}

footer {border-top: solid orange 2px; font-size: small; width: 99%; height: 100%;}
    footer p {display: none;}
    footer img {border: white 3px solid; grid-area: footer; border-radius: 100px; margin: auto;}
    #face {width: 7%; height:60%; padding:0.3%;box-shadow:inset black -1px -1px 3px 1px; }
    #tel {width: 7%; padding: 0.6%;box-shadow:inset black 1px 1px 3px 1px;}
    #mail {display: block; width:7.5%;height: 60%;}

/* RÓLUNK */
.alcim{font-size: small; margin-left: -2%;}
.szemely_contentI .logo,.szemely_contentII .logo, .szemely_contentIII .logo{display: none;}
.szemely_contentIII{margin: 5% 1%;grid-template-columns: repeat(1,100%); grid-template-areas:
    "cimke" 
    "bemutatkoz3";}
.szemely_contentI{margin: 5% 1%;grid-template-columns: repeat(1,100%); grid-template-areas:
        "cimke" 
        "bemutatkoz";}
.szemely_contentII{margin: 5% 0%;grid-template-columns: repeat(1,95%); grid-template-areas:
        "cimke2" 
        "bemutatkoz2";}
.szemely_contentII .cimke2{margin: 0% 0% 0% 1%;}

/* KAPCSOLAT */    
.kapcsolat{ 
    grid-area: content;
    width:fit-content;
    display:block;
    margin:0%;
    padding:0%;}        
.intro{ text-align: center;
        width: fit-content;
        margin-top: 5%;
        padding: 0.5%;}        
.kapcs1{width: fit-content;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0% 0%;
        padding: 0%;}
         #adatok {display: block} 
                .kapcs1 .cimke{margin:4% 30% 5% 0%;width:200px;}
                .kapcs1 label {display:flex;padding: 0% ;font-size:small;
                            justify-content: center;margin: 0% 0% 0% 0%;}
                .kapcs1 input {display: flex;
                                margin: 0% 0% 0% 0%;
                                height:20px;
                                width: 200px;}                    
            #adatok2 label{width: fit-content;}
            .gombok {width: fit-content;display:flex;justify-content: center;}
            .gombok input{width: fit-content; margin: 0% 7%;}
    .kapcsolat_forms{width: 100%;
                    display:block;
                    flex-direction:column;
                    flex-wrap: wrap;
                    padding: 0%;margin:0%;
                    justify-content: center;}
        #reg{display: block; margin: 1% 0% 3% 0%; padding: 0%;width: 100%;}
        
        
        #reg2{display:block;
            width:85%;
            margin: 0% 0% 0% 0%; padding: 0%;}
        .kapcs2{display:block;
                justify-content:center;
                justify-items:center;
                align-items: center;
                width: 100%;
                padding: 0%;
                margin: 6%;}
            textarea{display: block; width:90%; 
                 margin: auto;}
            .kapcs2 label {display:block;margin: auto;}
            .kapcs2 input {display: block; margin: auto; padding: 0%; margin-top: 5%;
            width: 212px;} 
                .kapcs2 #mail2 {display: inline;width: 200px; height: 20px;}
    
    #confirm{
        display:flex;
        text-align: center;
        align-items:end;
        flex-direction: row;
        flex-wrap: nowrap;
        width:200px;
        font-family:Montserrat Subrayada;
        font-size: x-small;
        margin: 0% 10%;
        padding: 5%;
        border:none}  
        #confirm input{  margin-top: -10%; 
                    accent-color: black;}
}