body {min-width: 300px;
    margin: 0%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-areas: 
    "nav nav nav nav"
    "header header header header"
    "content content content content"
    "article article article article"
    "footer footer footer footer";
    background-image: url(./media/alap2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 315px;
    font-family:Georgia, 'Times New Roman', Times, serif;}

/* FEJLÉC */

#indexhead {display: none;}
.kv {width: 150px;
     background-color: rgba(0, 255, 255, 0);
      position: relative;
       margin:-110% 0% 65% -20%;}
header {
    grid-area: header;
    height: 100%;
    margin-top: 1.9%;
    background-image: linear-gradient(180deg,white 20%, rgba(255, 255, 255, 0));
    display: grid;
    grid-template-columns: repeat(5,20%);
    grid-template-areas: 
    " motto motto motto sup logo";}

    .supporters { 
        grid-area: sup;
        width: 55%;
        margin-right: -62%;
        justify-self: end;
        display: grid;
        grid-template-columns: repeat(1,100%);
        grid-template-areas: "supcont";}
         .circs1 {grid-area: supcont;}
            .circs1 circle {transform-origin: 100px 100px;
                            fill: none;
                            stroke-width:2;
                            stroke-dasharray: 66;}
        .circs2 {grid-area: supcont;}
            .circs2 circle {transform-origin: 100px 100px;
                            fill: none;
                            stroke-width:1.7;
                            stroke-dasharray: 20;}
        .logo1_image { grid-area: supcont;
            background-size: contain;
            background-repeat: no-repeat;
            justify-self: center;
            margin-left: 19%;
            margin-top: 13%;
            width: 30%;
            height: 30%;
            background-image: url(./media/HEADER_NAV/logo\ kör.png);}
        .logo2_image {grid-area: supcont;
                background-size: contain;
                background-repeat: no-repeat;
                justify-self: center;
                margin-top:13%;
                margin-left:-60.5%;
                width: 37%;
                background-image: url(./media/HEADER_NAV/kvilogo.png);}
                .currentmenu {font: bold 16px "Montserrat Subrayada" ;fill: rgb(255, 217, 0);filter: drop-shadow(-2px -3px 1px rgba(66, 4, 4, 0.068));}
                .currentmenu1 {font: bold 12px "Montserrat Subrayada";fill: rgb(0, 0, 0);filter: drop-shadow(-2px -3px 1.6px rgba(255, 217, 0, 0.733));}
    .motto {grid-area: motto;}
        .heavy1 {font: bold 12px Montserrat Subrayada ;fill: rgb(252, 227, 0);}
        .heavy {font: bold 10px Montserrat Subrayada;fill: rgb(0, 0, 0);}
        .elegant {font: italic 2.2px serif;fill: black;}
    .logo { grid-area:logo;
          width: 50%;
            margin: 0% 0% 0% 40%; 
            display: grid;
            grid-template-columns: repeat(1,100%);
            grid-template-areas: "logocont";}
            .circ1 {grid-area: logocont;background-image: url(./media/HEADER_NAV/Lambdaweb.png);
                background-size: 60%;
                background-position: center;
                background-repeat: no-repeat;}
                .circ1 circle {transform-origin: 50px 50px;
                                fill: none;
                                stroke-width:2;
                                stroke-dasharray: 40;
                                animation: animateCircle1 60s  linear infinite;}
            .circ2 {grid-area: logocont;
                }
                .circ2 circle {transform-origin: 50px 50px;fill: none;
                                stroke-width:1;
                                stroke-dasharray: 50;           
                                animation: animateCircle2 35s  linear infinite;}
                                @keyframes animateCircle1 {
                                    0% {transform: rotate(0deg);}
                                    100% {transform: rotate(360deg);}}
                                @keyframes animateCircle2 {
                                    0% {transform: rotate(360deg);}
                                    100% {transform: rotate(0deg);}}

/* NACIGÁCIÓ ÉS MOBIL MENÜ */

nav {grid-area: nav;
    justify-items: center;
   
    align-items: left;
    display: flex;
    flex-direction: row; 
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    box-shadow:rgba(255, 217, 0, 0.904) 0px 0px 6px 4px;
    color: black;
    background-image:url(./media/alap2.jpg);
    margin-bottom: 0%;}

    .mobildropdown, .mobildropdown-content{width: 100%;display: flex;}
    .mobilmenu input, .hamburger{display: none;}

    #c1 {color: gold;}
    .current {
        color: rgb(0, 0, 0);
        animation-name: currentnav;
        animation-duration: 3.8s;  
        text-shadow: rgb(255, 238, 0) 0px 0px 12px;
        animation-fill-mode: forwards;} 
      
            @keyframes currentnav {
                0%   {background-color: gold;color: rgba(0, 0, 0, 0); }
                100%   {background-color: white; color: black;}}
a{color: black; background-color:rgba(0, 0, 0, 0);}
    nav a:visited ,a:link{color: black;}
    nav a:hover,.dropdown:hover{
        box-shadow: inset 700px 0 0 0 orange; 
        color: black;}

        .dropdown, nav a {
            padding: 0.8%;
            overflow: hidden;
            cursor: pointer;
            width: 200px;    
            text-decoration: none;
            background-color: rgba(255, 255, 255, 0);
            font-family:Montserrat Subrayada;
            font-weight:800;
            text-align: center;
            border-bottom-left-radius: 10px;        
            box-shadow: inset 0 0 0 0 rgb(255, 213, 74);
            transition: color 0.8s ease-in-out, box-shadow 0.8s ease-in-out;}

                .dropdown-content  {
                    display: none;
                    position: fixed;
                    margin: 0.5% 0% 0% 0%;
                    width: 14%;
                    font-family:Arial;
                    font-size:smaller;
                    font-weight:100;
                    background-color:white;
                    border: 2px gold solid;}  
                .dropdown-content a { 
                    border-bottom-left-radius: 0px;   
                    background-color: rgba(255, 255, 255, 0);
                    width: 100%;
                    text-align: center;}
                    .dropdown:hover .dropdown-content {display: flex;flex-direction:column; }
/* TARTALOM */

section { display: flex;
        margin: -0% 1% 1% 1% ;
        border-left:solid 2px gold ;
        border-right:solid 2px black ;
        border-bottom-left-radius:15px ;
        border-top-right-radius: 15px;
        grid-area: content;
        padding: 1%;}
.szakaszI { width: 49%; 
            padding: 0% 3%;
            margin:-1% 1% 0% 0%;
            text-align: left; 
            background-image: linear-gradient(360deg,white 85%, rgba(255, 255, 255, 0));}
.szakaszII {padding: 0% 3%; 
            width: 49%;
            margin:-4% 0% 0% 1%; 
            text-align: left;
            background-image: linear-gradient(360deg,rgba(255, 255, 255, 0) 15%, rgb(255, 255, 255));}

    section img {float: left;
                margin: 0% 4% 2% 0%;
                padding: 0.5%;
                width: 65%;
                border: gold 3px solid;
                border-radius: 15px;
                box-shadow: black 1px 1px 4px 1px;}
        .scshhot{transition: transform 0.5s ;}
        .scshhot:hover {transform: scale(1.05);}
        
    .cimke{ margin: 7% 0% 2% 0%;
            font-family:Montserrat Subrayada;
            width: fit-content;
            padding: 0.6%;
           /*  box-shadow: rgba(255, 217, 0, 0.849) -2px 2px 3px 1px ; */
            background-image: white;
            border-left: 3px solid;
            border-bottom: 4px solid black;
            border-bottom-right-radius:10px;
            border-top-left-radius:10px;}
            #c2 {color:orange}
    .cimke2 {background-image: white;
            font-family:Montserrat Subrayada;
            width:fit-content;
            padding: 1%;
            border-right: 3px solid gold;
            border-bottom: 4px solid gold;
            border-bottom-left-radius: 10px;
            border-top-right-radius:10px ;
            margin: 5% 0% 3% 15%;
            /* box-shadow: gold 2px 2px 3px 1px ; */}
            #c3 {color: rgb(255, 136, 0); font-style: oblique;}

/* LETÖLTÉS */
.letoltes .szakaszI {display: none;}
.letoltes {min-height: 370px;}
.letoltes .szakaszII { display: flex; justify-content: center; align-items: center; margin-left: 10%;}
.downloadlanding .logo{width: 100%;
   margin-left: auto;
   margin-right: auto;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;}
.circlandingdownl{ 
    border-radius: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    grid-area: logocont;
    align-items: center;
    width: 100%;}
    .circlandingdownl circle {transform-origin: 150px 150px;
        fill: none;
         stroke-width:7;
         stroke-dasharray: 190;           
         animation: animateCircle2 35s  linear infinite;}

.btn {background-color: rgba(255, 255, 255, 0);
    font-family: Montserrat Subrayada; 
    font-size: x-large; 
    border: none; 
    cursor: pointer; 
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
position: absolute;
border-radius: 50px;

transition: transform 1s, color 1s, box-shadow 1s;}
.btn:hover {transform: scale(2); color: white; box-shadow: inset gold 0px 0px 40px 10px;}

/* LANDINGPAGE */
.mobilszakasz{display: flex; padding: 3%; font-size: small;width:fit-content;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    border-top: none;
    border-bottom: 1px solid gold;
    border-right: none;
    border-left:1px solid rgb(0, 0, 0); ;
    border-radius: 15px;
    height:fit-content;
  
}
.promo{grid-area: article; 
    padding: 1%;
    margin: 1%;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-left:black 2px solid;
    border-right:gold 2px solid;}
article{ 
    padding: 2%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-areas: "cikk demokep demokep demokep";}
.cikk{grid-area: cikk; display: flex; flex-direction: column; justify-content: center;}
.cardback{grid-area: demokep;display: flex;justify-content: right;}
            .cardback img{
                margin: 0% 0% 0% 0% ;
                padding: 0%;
                border-top: 5px solid gold;
                border-bottom: 5px solid gold;
                border-right: 10px double rgb(0, 0, 0);
                border-left: none;
                box-shadow: none;
                width: 80%;
                border-bottom-right-radius: 25px;
                border-bottom-left-radius: 25px;}
                #cardback2 img{ 
                    border-top: 5px solid black;
                    border-bottom: 5px solid black;
                    border-right:none ;
                    border-left:10px double gold;}
                
    .card1{
        display: block;
        margin: 25% 0% 0% 30%;
        padding: 0.1% 2%;
        width: 70%;
        border-top: 3px solid gold;
        border-bottom: 1px solid gold;
        border-left: none;
        border-right:3px solid rgb(0, 0, 0) ;
        text-align: justify;
        background: rgba(255, 255, 255, 0);
        border-radius: 20px 0px;
        box-shadow: inset 5px 5px 50px 1px rgba(252, 246, 191, 0.356);
        font-size: 15px;
        font-style: italic;}
    .card2{
        display: block;
        margin: 1% 0% 0% 25%;
        padding: 1% 4%;
        width: 50%;
        font-size: 15px;
        font-style: italic;
        border-top: 3px solid rgb(0, 0, 0);
        border-bottom: 1px solid black;
        border-left: none;
        border-right:3px solid gold ;
        text-align: justify;
        background: rgba(255, 255, 255, 0);
        border-radius: 20px 0px;
        box-shadow: inset 5px 5px 50px 1px rgba(252, 246, 191, 0.356);}

    .logolanding .logo{width: 100%; margin: -15% 0% 0% 0%;}
    .circlanding{ 
        background-image: url(./media/LANDINGPAGE/demo1kör.png);
        background-size:100%;

        background-position:center;
        background-repeat: no-repeat;
        border-radius: 100%;
        box-shadow:rgba(0, 0, 0, 0.205) -20px -10px 18px 1px;
        display: grid;
        grid-area: logocont;
        align-items: center;
        width: 100%;}
        .circlanding circle {transform-origin: 150px 150px;
                       fill: none;
                        stroke-width:7;
                        stroke-dasharray: 190;           
                        animation: animateCircle2 35s  linear infinite;}
        .circlanding2 {grid-area: logocont;}
        .circlanding2 circle {transform-origin: 150px 150px;
                        fill: none;
                        stroke-width:3;
                        stroke-dasharray: 140;
                        animation: animateCircle1 60s  linear infinite;}       

/* VERZIÓK */

.tablazat{display: grid; grid-template-rows: repeat(1,100%);}
.tablazatmobil{display:none}
table, tr, td, th{border: black solid 2px;}
table {height: fit-content;display: block;
        font-size: small;
        text-align: justify;
        padding: 0.5%;
        border: none;
        width: fit-content;
        margin-bottom: 2%;
        background-color: rgba(255, 255, 255, 0.397);}
th {border: none;
    border-bottom: gold 4px solid;
    text-align:center;
    vertical-align: bottom;
    border-radius: 20px;
    padding: 1%;
    font-family:Arial, Helvetica, sans-serif;}
td{padding: 1%;border-left: gold 2px solid; border-radius: 15px;}

.fuggoleges {border-right: gold 4px solid;
    color: white;
    box-shadow: inset rgb(0, 0, 0) 5px 0px 8px 1px;
    background-color: gold;
    border-bottom: black;
    vertical-align:middle;
    text-align: center;
    width: 50px;
    height: 250px;
border-radius: 26px;}
th span {
    writing-mode: vertical-rl;
    text-orientation: upright;}
  caption {
    height: fit-content;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5%;
    padding: 0.5%;
    background-color: white;
    width: fit-content;
    font-weight: 500;
    border-bottom: black 1px solid;
    border-radius: 15px;
    box-shadow: black 1px 6px 5px 1px;
    color: gold;
    font-size: medium;
    font-style: italic;
}

/* TÉMÁK */

.minipromo{font-style: italic; padding: 4%; text-align: center;}
.minipromo img {width: 105%; margin: 10% 0%;} 
.mini {width:150%; display: none;}
.full  {animation: tema 2s  backwards; transition: transform 0.5s;}
.full:hover {transform: scale(1.1);}
@keyframes tema {
    0% {transform:scale(3) translateX(200px);}
    100% {transform: scale(1);}}

h3 {font-family:Montserrat Subrayada;}
h4 {font-style: italic; font-weight: 100;}
ol{ list-style-type: upper-roman; float: left;}
ul {list-style-type:georgian;}


/* KAPCSOLAT */

.kapcsolat { 
    grid-area: content;
    width: 90%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;}
        
    .kapcsolat_forms{width: 100%;
                    display:flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: auto;
                    justify-content: space-around;
                    align-items: start;}

        .intro{ text-align: right;
                width: 100%;
                padding: 0.5%;
                background-image: linear-gradient(360deg,white 85%, rgba(255, 255, 255, 0));} 

        .kapcs1{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: start;
            justify-content: start;
                width: 100%;
                margin: 0% 0% 0% 0%;
                padding: 1%;
                background-image: linear-gradient(360deg,white 85%, rgba(255, 255, 255, 0));}
            #adatok, #adatok2 {display: grid; grid-template-columns:repeat(2,50%); margin-bottom: 0%;}
                .kapcs1 label {display:flex;
                    padding: 0.9%;
                               justify-content: right;
                                margin-left: -6%;
                                width: 200px;}
                .kapcs1 input { height:20px;
                                width: 200px;
                                flex-direction: row;
                                border:1px solid gold;
                                border-radius: 0px;
                                box-shadow: inset black 0px 0.5px 2px 1px;   }
               
                #adatok2 label{height: 25px;width: 200px; padding: 3% 0%;}
                #adatok2 {padding: 3% 0%;
                        border-top: gold 1px solid;
                        border-top-right-radius: 40px;
                        border-bottom: gold 1px solid;
                        border-bottom-left-radius: 40px;
                        font-style: italic;
                        font-size: small;}
                #adatok2 input {
                margin-top: -1%;
                height: 20px;
                width: 130px;
                accent-color: black;
                margin-left: 0%;
                box-shadow: none;}
                .gombok {display: flex;width: 50px;margin-top: 1%;}
                    .gombok input{font-family:Montserrat Subrayada; 
                        height: 30px;
                        border-radius: 1px;border: gold 2px solid;
                        background-color: white;
                        margin: 0% 60%;
                        box-shadow: none;}
        .kapcs2{display: flex;
                flex-direction: column;
                justify-content: right;
                justify-items: right;
                align-items: center;
                width: 100%;
                padding: 2%;
                margin: 1%;
                background-image: linear-gradient(360deg,rgba(255, 255, 255, 0) 15%, rgb(255, 255, 255));}
            textarea{margin: 2% 0%;
                    border: gold 2px solid;
                    box-shadow: inset -1px 1px 5px 0.1px;}
            .kapcs2 input {font-family:Montserrat Subrayada;
                    width: fit-content; 
                    height: 30px;
                    border-radius: 1px;border: gold 2px solid;
                    background-color: white;
                    margin: 1% 0%;}
                .kapcs2 #mail2 {width: 300px; height: 20px;}
                    
    #confirm {font-family:Montserrat Subrayada;
        font-size: smaller;
        text-align: right;
        margin: 5% 0% 10% 0%;
        display:flex;
        width: 80%;
        font-weight: 600;
        border-bottom: orangered 4px solid;
        border-bottom-left-radius: 10px;}  
        #confirm input{width: 19px;
            margin-top: 0.3%; 
                    margin-left:5%;
                    accent-color: red;}


/* RÓLUNK */
.rolunk{display:flex;
    flex-wrap: wrap;
    width:fit-content;}

.alcim{width: 100%; font-family:Montserrat Subrayada;text-align: right;}

.szemely_contentI{
    margin-top: 1%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-areas:
    "rolunklogo cimke cimke cimke" 
    "rolunklogo bemutatkoz bemutatkoz bemutatkoz";}

            .szemely_contentI .cimke {width: 150px; height: fit-content;}

            .szemely_contentI .logo{ 
                background-image: url(./media/ROLUNK/BM.png);
                background-size: 53%;
                background-position: center;
                background-repeat: no-repeat;
                display: grid;
                grid-area: rolunklogo;
                align-items: center;
                width: 100%;
                margin: 0%;}
                .circ2b {grid-area: logocont;}
                .circ2b circle {transform-origin: 50px 50px;
                                fill: none;
                                stroke-width:1;
                                stroke-dasharray: 50;           
                                animation: animateCircle2 35s  linear infinite;}
                .circ1b {grid-area: logocont;}
                .circ1b circle {transform-origin: 50px 50px;
                                fill: none;
                                stroke-width:2;
                                stroke-dasharray: 40;
                                animation: animateCircle1 60s  linear infinite;}          

            .szemelyI_szoveg{padding-right: 5%;
                margin:0% 0% 0% -3%;
                height: 100%;
                grid-area: bemutatkoz;
                width: fit-content;
                text-align: right;
                background-image: linear-gradient(360deg,white 85%, rgba(255, 255, 255, 0));}

    .szemely_contentII{margin-top: 1%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(4,25%);
                    grid-template-areas:
                    " cimke2 cimke2 cimke2 rolunklogo2" 
                    " bemutatkoz2 bemutatkoz2 bemutatkoz2 rolunklogo2";}
                    
        .szemely_contentII .cimke2 { width: 250px; margin-left: 200%;  height: fit-content;}
        
        .szemely_contentII .logo{ background-image: url(./media/ROLUNK/SM.png);
                        background-size: 53%;
                        background-position: center;
                        background-repeat: no-repeat;
                        display: grid;
                        grid-area: rolunklogo2;
                        align-items: center;
                        width: 100%;
                        margin: 0%;}
        
        .szemelyII_szoveg{padding-left: 5%;
                        margin: 0% -3% 0% 0%;
                        height: 100%;
                        grid-area: bemutatkoz2;
                        width: fit-content;
                        text-align: left;
                        background-image: linear-gradient(360deg,white 85%, rgba(255, 255, 255, 0));}

    .szemely_contentIII{margin-top: 1%;
                    width: 100%;
                    display: grid;
                    grid-template-columns: repeat(4,25%);
                    grid-template-areas:
                    "rolunklogo3 cimke cimke cimke " 
                    "rolunklogo3 bemutatkoz3 bemutatkoz3 bemutatkoz3 ";}
            .szemely_contentIII .cimke {width: 150px; height: fit-content; margin: auto;}

            .szemely_contentIII .logo{ 
                background-image: url(./media/ROLUNK/SZP.jpg);
                background-size: 53%;
                background-position: center;
                background-repeat: no-repeat;
                display: grid;
                grid-area: rolunklogo3;
                align-items: center;
                width: 100%;
                margin: 0%;}
                .circ2c {grid-area: logocont;}
                .circ2c circle {transform-origin: 50px 50px;
                                fill: none;
                                stroke-width:1;
                                stroke-dasharray: 50;           
                                animation: animateCircle2 35s  linear infinite;}
                .circ1c {grid-area: logocont;}
                .circ1c circle {transform-origin: 50px 50px;
                                fill: none;
                                stroke-width:2;
                                stroke-dasharray: 40;
                                animation: animateCircle1 60s  linear infinite;}          

            .szemelyIII_szoveg{padding-right: 5%;
                margin:0% 0% 0% -3%;
                height: 100%;
                grid-area: bemutatkoz3;
                width: fit-content;
                text-align: right;
                background-image: linear-gradient(360deg,white 85%, rgba(255, 255, 255, 0));}

/* LÁBLÉC */
    
footer {grid-area: footer;
        display: grid;
        grid-template-columns: repeat(6,16%);
        grid-template-areas:"left center center center center right" ;
        padding:0.5%;
        width: 99%;
        margin: auto;
        box-shadow: black 1px 1px 6px 1px;
        font-family:Arial; 
        font-size: small;
        font-weight: 600;
        color: rgb(0, 0, 0);  
        background-color:rgb(255, 217, 0);
        justify-items: center; justify-content: center; align-items: center; align-content: center;}
footer a:visited ,a:link{color:rgb(255, 255, 255);}
footer p {grid-area: center;}
footer img {border: white 3px solid; grid-area: footer; border-radius: 100px;}
#face {grid-area: left; box-shadow:inset black -1px -1px 3px 1px; width: 40px; height: 40px; float: left; transition: transform 1s;}
#face:hover {transform: scale(1.5);}
#tel {grid-area: right; box-shadow:inset black 1px 1px 3px 1px;width: 40px; height: 40px; transition: transform 1s;}
#tel:hover {transform: scale(1.5);}
#mail  {grid-area: center; width: 40px; height:40px;box-shadow:inset black -1px -1px 3px 1px; display: none; transition: transform 1s;}
#mail:hover {transform: scale(1.5);}
#links {background-color: rgba(0, 0, 0, 0); }



/* TÖRÉSPONTOK */


@media screen and (min-width:900px) and (max-width:1350px){


nav {flex-direction: column;
    font-size:medium;
    font-weight:700; }
    #indexhead {display: none;}
header {margin-top: 3%;}
        .supporters { width: 75%;}
            .heavy1 {font: bold 10px Montserrat Subrayada ;fill: rgb(252, 227, 0);}/* font-family: 'Montserrat Subrayada', sans-serif; */
            .heavy {font: bold 8px Montserrat Subrayada;fill: rgb(0, 0, 0);}
            .elegant {font: italic 2.95px serif;fill: black;}
        .logo {width: 60%;height: 60%;}
              
.szakaszI{margin-top: -4%;}                
footer {border-top: solid orange 2px; font-size: small; width: 99%;}

/* KAPCSOLAT */
    
#confirm {margin-left: -70%;}     
}

@media screen and (min-width:685px) and (max-width:900px){


    #indexhead {display: none;} 
header {margin-top: 7%;}
    .motto{width: 140%;}
    .supporters { width: 95%; margin-right: -71%; }
        .heavy1 {font: bold 10px Montserrat Subrayada ;fill: rgb(252, 227, 0);}
        .heavy {font: bold 8px Montserrat Subrayada;fill: rgb(0, 0, 0);}
        .elegant {font: italic 2.95px serif;fill: black;}
    .logo {width: 60%; height: 60%;}
  
    .mobildropdown, .mobildropdown-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; }
        .dropdown, nav a {width: 210px; font-size: medium;}
        .dropdown-content a { 
                width: 100%;
                padding: 1%;
                background-color: rgb(255, 217, 0);
                margin: 0%;
                width: 100%;
                font-size: small;}
                .dropdown-content #c1 {color: white;}

footer {border-top: solid orange 2px; font-size: small; width: 99%;}
            footer img {display: none;}

/* Landing Page */   

.logolanding .logo{width: 100%; margin: -25% 0% 0% 0%;}
.card1, .card2 {
    width: 90%;
    margin-left: -10%;
}

.promo{font-size: small;}

/* KAPCSOLAT */

#confirm {margin-left: 0%;}

/* RÓLUNK */

.szemely_contentII .cimke2{margin: 0% 0% 0% 150%;}    

/* TÉMÁK */
.full {display: none;}
.mini{display: block;}
}

@media screen and (min-width:490px) and (max-width:685px){


/* HEADER */

header {grid-template-columns: repeat(2,50%);
        grid-template-areas: "motto sup"; margin-top: 7%;}
    .motto {width: 200%;}
    .supporters { width: 45%; margin-right: 0%; margin-top: 2%;}
    .logo {width: 60%; height: 60%;}

#indexhead {display: none;}

/* NAV */

    .mobildropdown, .mobildropdown-content{
        width: 100%;
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        background-color: white;}
        .dropdown, nav a { 
            background-color: white; 
                text-align: center;
                width: 150px;
                font-size: small;}
        .dropdown-content { width: 140px;}        
        .dropdown-content a { 
                padding: 1%;
                background-color: rgb(255, 217, 0);
                margin: 0%;
                width: 100%;
                font-size: small;}
                .dropdown-content #c1 {color: white;}

/* FOOTER */

    footer {border-top: solid orange 2px; font-size: small; width: 99%; height: 100%; grid-template-columns: repeat(5,20%); grid-template-areas: "left center center center right";}
    footer p {display: none;}
    #mail {display: flex; justify-content: center; justify-items: center; align-items: center;align-content: center;}

/* LETÖLTÉS */

.downloadlanding .logo{width: 100%;}
.btn {font-size: xx-large;}
.letoltes .mobilszakasz { margin: 0%;}

/* LANDING PAGE */

.logolanding{width: fit-content;
    margin: -25% 0% 0% 0%;
    display: flex;
    justify-content:center;}
    .card1 p, .card2 p {display: none;}
    .card1, .card2 {width: fit-content; text-align: center; font-size: smaller;}W
    .promo {margin-top: 5%;}
    .mobilszakasz {
        margin-top: 40%;
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: small;
    width:200%;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    border-top: none;
    border-bottom: 1px solid gold;
    border-right: 1px solid rgb(0, 0, 0);
    border-left:1px solid rgb(0, 0, 0); ;
    border-radius: 15px;
    height:fit-content;}
    article{padding: 1%;display: block};
    .cardback{margin: 0%;}
    .promo{font-size: small; margin-top: 0%;}
   .cardback{display: flex;
justify-content: center;} 

/* TÉMÁK */
.full {display: none;}
.mini{display: block;}

/* VERZIÓK */

.tablazat{display: none;}
.tablazatmobil{display: flex; flex-direction: row;}
.tablazatmobil td{ padding: 3%;}
.fuggoleges {border-right: gold 4px solid;
    background-color: gold;
    color: white;
    border-bottom: black;
    vertical-align:middle;
    text-align: center;}
th span { font-family: Arial;
    writing-mode: vertical-rl;
    text-orientation: upright;}
}
/* MOBILNÉZET */

@media screen and (min-width:0px) and (max-width:490px){   
body {margin: 0%;
    grid-template-columns: repeat(4,25%);
    grid-template-areas: "nav header header header"
                        "content content content content"
                        "article article article article"
                        "footer footer footer footer";}     
/* HEADER */
#indexhead {display: block;}
header {position: sticky;
        background-color: white;
        top: 0;
        grid-template-columns: repeat(1,100%);
        margin: 0% 0% 0% 0%;
        grid-template-areas: "motto";               
            -webkit-box-shadow:0px 1px 1px black;
            -moz-box-shadow:0px 1px 1px black;
            box-shadow:-10px 1px 9px black;    
        border-bottom: 3px gold solid;}
        .kv{display: none;}
        .motto {margin: 3% 0% 0% 17%;}
        .heavy1 {font: bold 12px Montserrat Subrayada ;fill: rgb(252, 227, 0);}/* font-family: 'Montserrat Subrayada', sans-serif; */
        .heavy {font: bold 11.1px Montserrat Subrayada;fill: rgb(0, 0, 0);}
        .elegant {font: italic 0px serif;fill: black; }

/* NAVIGÁCIÓ */

nav {display: flex;
    height: 100%;
    position: sticky;
    border: none;
    background-color: white;
    -webkit-box-shadow:-9px 1px 9px black;
    -moz-box-shadow:-9px 1px 9px black;
    box-shadow: -9px 1px 9px black; 
    border-bottom: 3px gold solid;}
    .mobilmenu {width: 100%; margin: 0% auto 0% 50%; position:sticky;}
    .mobilmenu .checkbox {position: fixed;
                        display: inline;
                        opacity: 0;
                        cursor: pointer;
                        width: 10%;
                        height: 5%;
                        margin: 3% 0% 0% -13%;
                        background-color: white;}
    .hamburger{
        background-image: url(./media/HEADER_NAV/Hamburger_icon.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 55%;
        display:flex;
        padding: 30%;
        width: 30%;
        margin: 20% 0% 0% -60%;
        border-top-right-radius: 50%;
        border-bottom-left-radius: 50%;}
        .mobildropdown{margin-left: -100%;}
             .mobildropdown-content  {
                box-shadow:gold 1px 1px 5px 1px; 
                display:flex; flex-direction: column;
                position: fixed;
                width: 100%;
                margin-top:2.2%; 
                background-image: linear-gradient(120deg,white 60%, rgba(255, 255, 255, 0.548) 90%,white);     
                animation-name: start;
                animation-duration: 1s;  
                animation-fill-mode: forwards;} 
                    @keyframes start {
                        0%   {transform: translatex(-500px);}
                        100%   {transform:translatex(0px);}}       

            .dropdown, nav a{
                font-size: small;
                 padding: 4%;
                  width: 90%;
                   border-radius: 0px;
                    text-align: center;}
            .dropdown{transition: color 0.1s, box-shadow 1s;}
            .dropdown:hover  {color: gold; box-shadow: inset 700px 0 0 0 orange;}
            .dropdown-content {

                width: fit-content;
                height: fit-content;
                margin: none;
                padding: none;
                position:relative;
                flex-direction: row;
                margin-top: -8%;
                margin-left: -50%;
                margin-bottom: -4%;
                border-color: none;
                background-color:orange;
                border: none;
                align-items: center;
                width: 200%;}  
                .dropdown-content a {
                    text-align:center;
                    background-image: linear-gradient(45deg,rgba(255, 255, 255, 0),gold, rgba(255, 255, 255, 0));
                    width: 40%; padding: 0%;
                    font-size: small;}
                    .dropdown-content #c1 {color: white;} 

    .mobilmenu input[type="checkbox"]:not(:checked) ~ .mobildropdown  {display: none;}       
    .mobilmenu input[type="checkbox"]:checked ~ .mobildropdown  {height: 50%;}

/* SECTION */

section {margin: 5% 0.5% 3% 0.5%; display: flex; flex-direction: column;border: none;}
    section p{ margin: 1%;}
    .szakaszI, .szakaszII {width: 90%;}
    .cimke, .cimke2{font-size: medium;width: 68%;background-color: gold; border-color: black;}
    #c2, #c3 { color: white;}

/* FOOTER */

footer {border-top: solid orange 2px; font-size: small; width: 99%; height: 100%; grid-template-columns: repeat(5,20%); grid-template-areas: "left center center center right";}
    footer p {display: none;}
    #mail {display: flex; justify-content: center; justify-items: center; align-items: center;align-content: center;}

/* LANDINDPAGE */

    .szakaszII .card2, .szakaszII .card1 {display:none;}
.mobilszakasz{display: none;}
.logolanding{width: 100%;
    margin: 20% auto 10% auto;
    display: flex;
    justify-content:center;}
    .card1 p, .card2 p {display: none;}
    .card1, .card2 {width: fit-content; text-align: center; font-size: small;}
    .promo {margin-top: 5%;}
    .mobilszakasz {
    display:flex;
    flex-direction: column;
    text-align: center;
    font-size: small;
    width:fit-content;;
    margin-left: auto;
    margin-right: auto;
    padding: 3%;
    border-top: none;
    border-bottom: 1px solid gold;
    border-right: 1px solid rgb(0, 0, 0);
    border-left:1px solid rgb(0, 0, 0); ;
    border-radius: 15px;
    height:fit-content;}
    article{padding: 1%;display: block};
    .cardback{margin: 0%;}
    .promo{font-size: small; margin-top: 10%;}
   .cardback{display: flex;
justify-content: center;} 

/* VERZIÓK */
caption{font-size: small; padding: 2%; }
.tablazat{display: none;}
.tablazatmobil{display: flex; flex-direction: row;}
.tablazatmobil td{ padding: 3%;}
.fuggoleges {border-right: gold 4px solid;
    background-color: gold;
    color: white;
    border-bottom: black;
    vertical-align:middle;
    text-align: center;}
th span { font-family: Arial;
    writing-mode: vertical-rl;
    text-orientation: upright;}

/* RÓLUNK */

.alcim{font-size: small; margin-left: -2%;}
.szemely_contentI .logo,.szemely_contentII .logo, .szemely_contentIII .logo{display: none;}
.szemely_contentIII{margin: 5% 1%;grid-template-columns: repeat(1,100%); grid-template-areas:
    "cimke" 
    "bemutatkoz3";}
.szemely_contentI{margin: 5% 1%;grid-template-columns: repeat(1,100%); grid-template-areas:
        "cimke" 
        "bemutatkoz";}
.szemely_contentII{margin: 5% 0%;grid-template-columns: repeat(1,95%); grid-template-areas:
        "cimke2" 
        "bemutatkoz2";}
.szemely_contentII .cimke2{margin: 0% 0% 0% 1%;}

/* KAPCSOLAT */

.kapcsolat{ 
    grid-area: content;
    width:fit-content;
    display:block;
    margin:0%;
    padding:0%;}        
.intro{ text-align: center;
        width: fit-content;
        margin-top: 5%;
        padding: 0.5%;}        
.kapcs1{width: fit-content;
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0% 0%;
        padding: 0%;}
         #adatok {display: block} 
                .kapcs1 .cimke{margin:4% 30% 5% 0%;width:200px;}
                .kapcs1 label {display:flex;padding: 0% ;font-size:small;
                            justify-content: center;margin: 0% 0% 0% 0%;}
                .kapcs1 input {display: flex;
                                margin: 0% 0% 0% 0%;
                                height:20px;
                                width: 200px;}                    
            #adatok2 label{width: fit-content;}
            .gombok {width: fit-content;display:flex;justify-content: center;}
            .gombok input{width: fit-content; margin: 0% 7%;}
    .kapcsolat_forms{width: 100%;
                    display:block;
                    flex-direction:column;
                    flex-wrap: wrap;
                    padding: 0%;margin:0%;
                    justify-content: center;}
        #reg{display: block; margin: 1% 0% 3% 0%; padding: 0%;width: 100%;}
        #reg2{display:block;
            width:85%;
            margin: 0% 0% 0% 0%;
            padding: 0%;}
        .kapcs2{display:block;
                justify-content:center;
                justify-items:center;
                align-items: center;
                width: 100%;
                padding: 0%;
                margin: 6%;}
            textarea{display: block; width:90%; margin: auto;}
            .kapcs2 label {display:block; margin: auto;}
            .kapcs2 input {display: block; margin: auto; padding: 0%; margin-top: 5%;
            width: 212px;} 
                .kapcs2 #mail2 {display: inline;width: 200px; height: 20px;}
    
    #confirm{
        display:flex;
        text-align: center;
        align-items:end;
        flex-direction: row;
        flex-wrap: nowrap;
        width:200px;
        font-family:Montserrat Subrayada;
        font-size: x-small;
        margin: 0% 10%;
        padding: 5%;
        border:none}  
        #confirm input{  margin-top: -10%; accent-color: black;}
 
        /* LETÖLTÉS */

.downloadlanding .logo{width: 70%;}
.btn {font-size: xx-large; position: absolute;}
.letoltes .szakaszII .mobilszakasz { display: none;}
.letoltes .szakaszI{display: block;}
.downmobcont {display: block;}
.letoltes .szakaszII {margin-top: 10%;} 

}